* {
  --grey: #b7b7c8;
  --white: #fff;
  --red: #f2264b;
  --black: #000;
  --dark: #313140;
  --blue: #4a90da;
  --silver: #f8f8f8;
  --gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, #000 100%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--silver);
  color: var(--black);
  font-family: "Gilroy";
}

section,
.characters-list {
  opacity: 0;
  transform: translate3d(0, +100px, 0);
}

section.show-section,
.characters-list.show-section {
  opacity: 1;
  transform: translateZ(0);
  transition-property: opacity, transform;
  transition: 0.4s ease;
}

p.error {
  font-weight: 700;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease;
}
