* {
  --grey: #b7b7c8;
  --white: #fff;
  --red: #f2264b;
  --black: #000;
  --dark: #313140;
  --blue: #4a90da;
  --silver: #f8f8f8;
  --gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, #000 100%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--silver);
  color: var(--black);
  font-family: "Gilroy";
}
